.Auth {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  box-shadow: 1px solid #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
}

/* .Auth form {
    display: flex;
    flex-direction: column;
  }
  
  .Auth form input {
    padding: 1%;
    margin: 15px;
    border: 1px solid #f08e4a;
  } */

@media (min-width: 600px) {
  .Auth {
    width: 600px;
  }
}
